<div class="px-4 pt-5 mt-5 text-center ">
  <h1 class="display-4 fw-bold">Explore Unlimited Music </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Some music lovers desire a deeper connection with music than streaming or radio can provide. Discotic is an online database and marketplace of music releases that helps any enthusiast — <i class="lead">from casual fan to professional collector</i> — savor music in a more personal and meaningful way. </p>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <%= image_tag ("home_bg_header.png"),alt: "Example Musics image", class: "img-fluid rounded-3  mb-4" ,width:"700",height:"500"%>
    </div>
  </div>
</div>
<div class="shadow-divider"></div>
<div class="px-4 pt-5 text-center text-sec bg-main pb-4">
  <h1 class="display-4 fw-bold">Trending Releases</h1>
  <p class="lead mb-4 text-white">Top Searched & Visited Releases </p>
  <div class="d-flex flex-wrap gap-5 m-auto justify-content-center align-items-center">
    <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
      <%= image_tag ("placeholderimage.jpg"),alt: "Example Musics image" ,width:"200px",height:"200px"%>
      <b class="text-white m-0 bold mt-2">Album Name</b>
      <p class="text-white m-0">Artist</p>
    </div>
    <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
      <%= image_tag ("placeholderimage.jpg"),alt: "Example Musics image" ,width:"200px",height:"200px"%>
      <b class="text-white m-0 bold mt-2">Album Name</b>
      <p class="text-white m-0">Artist</p>
    </div>
    <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
      <%= image_tag ("placeholderimage.jpg"),alt: "Example Musics image" ,width:"200px",height:"200px"%>
      <b class="text-white m-0 bold mt-2">Album Name</b>
      <p class="text-white m-0">Artist</p>
    </div>
    <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
      <%= image_tag ("placeholderimage.jpg"),alt: "Example Musics image" ,width:"200px",height:"200px"%>
      <b class="text-white m-0 bold mt-2">Album Name</b>
      <p class="text-white m-0">Artist</p>
    </div>
    <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
      <%= image_tag ("placeholderimage.jpg"),alt: "Example Musics image" ,width:"200px",height:"200px"%>
      <b class="text-white m-0 bold mt-2">Album Name</b>
      <p class="text-white m-0">Artist</p>
    </div>
    <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
      <%= image_tag ("placeholderimage.jpg"),alt: "Example Musics image" ,width:"200px",height:"200px"%>
      <b class="text-white m-0 bold mt-2">Album Name</b>
      <p class="text-white m-0">Artist</p>
    </div>
  </div>
  <div class="d-grid gap-2 mt-3 d-sm-flex justify-content-sm-center">
    <button type="button" class="btn btn-outline-warning btn-sm px-4 d-flex gap-2 justify-content-center align-items-center">Check more <i class=" fa-solid fa-arrow-right"></i></button>
  </div>
</div>
<div class="shadow-divider"></div>
<div class="px-4 pt-5 text-center pb-4">
  <h1 class="display-4 fw-bold">Recently Added</h1>
  <p class="lead mb-4 ">Recently Added Albums </p>
  <div class="d-flex flex-wrap gap-5 m-auto justify-content-center align-items-center">
    <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
      <%= image_tag ("placeholderimage.jpg"),alt: "Example Musics image" ,width:"200px",height:"200px"%>
      <b class=" m-0 bold mt-2">Album Name</b>
      <p class=" m-0">Artist</p>
    </div>
    <div class="d-flex gap-1 flex-column justify-content-start align-items-start">
      <%= image_tag ("placeholderimage.jpg"),alt: "Example Musics image" ,width:"200px",height:"200px"%>
      <b class="m-0 bold mt-2">Album Name</b>
      <p class="m-0">Artist</p>
    </div>
  </div>
  <div class="d-grid gap-2 mt-3 d-sm-flex justify-content-sm-center">
    <button type="button" class="btn text-white bg-main btn-sm px-4 d-flex gap-2 justify-content-center align-items-center">Check more <i class=" fa-solid fa-arrow-right"></i></button>
  </div>
</div>
<div class="shadow-divider"></div>
<div class=" w-100">
  <div class="d-md-flex flex-md-equal w-100 ">
    <div class="bg-main  w-100  pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 text-sec py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
    </div>
    <div class=" bg-white w-100  pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
    </div>
  </div>
  <div class="d-md-flex flex-md-equal w-100  ">
    <div class="bg-white  w-100  pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
    </div>
    <div class="bg-main  w-100  pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3 text-sec">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
    </div>
  </div>
</div>
<div class="shadow-divider"></div>
  <% if !user_signed_in?  %>
<div class="container col-xl-10 col-xxl-8 px-4 py-5 ">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Join to upload your own albums , music & more !</h1>
      <p class="col-lg-10 fs-4">Create an account or login to enjoy the best experience of Discotic, where you can upload your own music , create playlists with your favorite selections & much more!</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5 ">
      <form class="p-4 p-md-5 border rounded-3  bg-main ">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-warning" type="submit">Login</button>
        <hr class="text-sec">
        <small class="text-sec">You don't have an account ?</small>
        <button class="w-100 btn btn-lg btn-outline-warning" type="submit">Signup</button>
      </form>
    </div>
  </div>
</div>
<% end %>

